data/
models/
__pycache__/
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# Python artifacts
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Editor directories and files
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# dotenv
.env

# others
initialize.py